@charset "utf-8";

body {
    padding-bottom: 500px;
}

section {
    padding: 2em 0 3em;
}

section + section {
    border-top: 1px dashed;
}

section > div {
    padding: 0 50px;
}

p {
    line-height: 1.5;
}

code {
    display: inline-block;
    padding: 0.1em 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    font-family: inherit;
    font-size: 0.8em;
    vertical-align: top;
}

table,
th,
td {
    border: 1px solid;
}