@charset "utf-8";

.front {
	color: red;
}

#end {
	font-weight: bold;
}

a:link { color: deepskyblue; }

a:visited { color: rgba(255, 0, 0, 0.1); }

a:hover { color: red; }

a:active { color: yellowgreen; }











