@charset "utf-8";

html {
}

body {
    margin: 0;
    padding: 50px;
}

.tab_menu {
    list-style-type: none;
    padding-left: 0;
    border-bottom: 2px solid #555;
}

.tab_menu:after {
    clear: both;
    display:block;
    content: '';
}

.tab_menu li {
    float: left;
    position: relative;
    margin-right: -1px;
    border: solid #ccc;
    border-width: 1px 1px 0;
}

.tab_menu a {
    display: block;
    width: 118px;
    font-weight: bold;
    font-size: 14px;
    line-height: 45px;
    color: #555;
    text-align: center;
    text-decoration: none;
}

.tab_menu li:hover {
    z-index: 1;
    border-color: #555;
}

.tab_menu li:hover a { 
    background-color: #555;
    color: #fff;
}

.tab_menu .other_size {
    width: 158px;
}
